## Semantic Model Development vs. Current Fuzzy Approach EDA
##### Goal: Data Processing and Analysis of the Dataset

In [16]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
import pandas as pd
import numpy as np
from pathlib import Path
from src.data_processing import process_data, drop_manual, drop_na

In [2]:
df = pd.read_csv("data/npl_neighbor_complete_data_for_sentencetransformer.csv")

In [3]:
df.head()

,npl_prodord,npl_prodord_desc,neighbor_prodord,neighbor_prodord_desc,fuzzy_score,row_number,predecessor_prodord_ramesses,predecessor_prodord_desc_ramesses,manual_match,PREDECESSOR TYPE
0,0WLY01,GINGER BURST HND&BDY WSH 200ML,0MCX01,GINGER BODY WASH 200ML,0.77,1,0MCX01,GINGER BODY WASH 200ML,YES,STAR PREDECESSOR
1,0WLY01,GINGER BURST HND&BDY WSH 200ML,0JYH01,GINGER BURST 200ML,0.75,2,0MCX01,GINGER BODY WASH 200ML,n,STAR PREDECESSOR
2,0WLY01,GINGER BURST HND&BDY WSH 200ML,027T01,GINGER BODY WASH 250ML,0.73,3,0MCX01,GINGER BODY WASH 200ML,n,STAR PREDECESSOR
3,0WLY01,GINGER BURST HND&BDY WSH 200ML,0F4501,GINGER HAND CLEANSER 200ML,0.64,4,0MCX01,GINGER BODY WASH 200ML,n,STAR PREDECESSOR
4,0WLY01,GINGER BURST HND&BDY WSH 200ML,0MCW01,GINGER HAND CLEANSER 200ML,0.64,5,0MCX01,GINGER BODY WASH 200ML,n,STAR PREDECESSOR

In [4]:
print("---Dataset Overview---")
print(df.info())

---Dataset Overview---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696769 entries, 0 to 696768
Data columns (total 10 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   npl_prodord                        696769 non-null  object
 1   npl_prodord_desc                   696664 non-null  object
 2   neighbor_prodord                   696769 non-null  object
 3   neighbor_prodord_desc              695047 non-null  object
 4   fuzzy_score                        696769 non-null  float64
 5   row_number                         696769 non-null  int64
 6   predecessor_prodord_ramesses       696769 non-null  object
 7   predecessor_prodord_desc_ramesses  692549 non-null  object
 8   manual_match                       696769 non-null  object
 9   PREDECESSOR TYPE                   696769 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 53.2+ MB
None

In [5]:
print("---NPL Successor SKU Descriptions---")
print(df["npl_prodord_desc"].value_counts())

---NPL Successor SKU Descriptions---
npl_prodord_desc
LIP COLOR ULTRA SHINE 3.3GM - ULTRA SHIN    2550
MACXIMAL MATTE LPSTCK 3.5GM - COOL TEDDY    2544
MCXML SLEEK SATIN LS 3.5GM - CALL IT COZ    2544
MCXML SLEEK SATIN LS 3.5GM - LOVERS ONLY    2544
MCXML SLEEK SATIN LS 3.5GM - PEACHSTOCK     2544
                                            ...
INTRAL DAILY TRTMENT LTN 150ML                 1
MS ACTIVE GLOW SRM 30ML                        1
MS ACTIVE GLOW SRM 50ML                        1
CI PORE PURIFYING TONER 150ML                  1
DU NURSH AVOCDO LIT BUTR 15GM                  1
Name: count, Length: 2041, dtype: int64

In [6]:
print("---Predecessor SKU Descriptions---")
print(df["neighbor_prodord_desc"].value_counts())

---Predecessor SKU Descriptions---
neighbor_prodord_desc
LUSTRE LIPSTICK 3GM - CANCELLED    2210
MAX COVER MU-GREEN CO 30ML         1044
CREMESHEEN 3GM - CANCELLED         1040
SFPP FOUNDATION DUO N               790
SATIN LIPSTICK 3GM - CANCELLED      780
                                   ...
LIVING COLOGNE-BLUE AGAV 200ML        1
EXFLTNG SOAP REVITALISE 100GM         1
VR&O BODY CREME INTENSE 50ML          1
M&T BODY CREME INTENSE 50ML           1
ZERO BASE 11ML - NUDE LUSTRE          1
Name: count, Length: 20697, dtype: int64

In [7]:
df[pd.isna(df["npl_prodord_desc"])]

,npl_prodord,npl_prodord_desc,neighbor_prodord,neighbor_prodord_desc,fuzzy_score,row_number,predecessor_prodord_ramesses,predecessor_prodord_desc_ramesses,manual_match,PREDECESSOR TYPE
148856,G9F301,NaN,R8KJ01,DOUBLE WEAR SIP PUMP,0.0,1,R8KJ01,DOUBLE WEAR SIP PUMP,YES,STAR PREDECESSOR
199881,J1KS01,NaN,J37T01,NaN,1.0,1,J3L701,S26 CNCRT CDL RM 127GM,n,STAR PREDECESSOR
199882,J1KS01,NaN,J38001,NaN,1.0,2,J3L701,S26 CNCRT CDL RM 127GM,n,STAR PREDECESSOR
199883,J1KS01,NaN,J37W01,NaN,1.0,3,J3L701,S26 CNCRT CDL RM 127GM,n,STAR PREDECESSOR
199884,J1KS01,NaN,J38801,NaN,1.0,4,J3L701,S26 CNCRT CDL RM 127GM,n,STAR PREDECESSOR
...,...,...,...,...,...,...,...,...,...,...
199980,J1KS01,NaN,J0EN01,L62 CLASSIC CDL RM 245GM,0.0,100,J3L701,S26 CNCRT CDL RM 127GM,n,STAR PREDECESSOR
199981,J1KS01,NaN,J0F801,S26 CLASSIC CDL CP 245GM,0.0,101,J3L701,S26 CNCRT CDL RM 127GM,n,STAR PREDECESSOR
199982,J1KS01,NaN,J0EC01,C17 VINTAGE CDL CP 195GM,0.0,102,J3L701,S26 CNCRT CDL RM 127GM,n,STAR PREDECESSOR
199983,J1KS01,NaN,J2YE01,H44 VINTAGE CDL CP,0.0,103,J3L701,S26 CNCRT CDL RM 127GM,n,STAR PREDECESSOR
199984,J1KS01,NaN,J2NC01,PS14 CLCDL GREY RM 245GM,0.0,104,J3L701,S26 CNCRT CDL RM 127GM,n,STAR PREDECESSOR

In [8]:
df_processed = drop_manual(df)

In [9]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 635665 entries, 0 to 696728
Data columns (total 10 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   npl_prodord                        635665 non-null  object
 1   npl_prodord_desc                   635665 non-null  object
 2   neighbor_prodord                   635665 non-null  object
 3   neighbor_prodord_desc              634073 non-null  object
 4   fuzzy_score                        635665 non-null  float64
 5   row_number                         635665 non-null  int64
 6   predecessor_prodord_ramesses       635665 non-null  object
 7   predecessor_prodord_desc_ramesses  635581 non-null  object
 8   manual_match                       635665 non-null  object
 9   PREDECESSOR TYPE                   635665 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 53.3+ MB

In [10]:
temp = df_processed[pd.isna(df_processed["neighbor_prodord_desc"])]

In [11]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1592 entries, 306 to 692558
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   npl_prodord                        1592 non-null   object
 1   npl_prodord_desc                   1592 non-null   object
 2   neighbor_prodord                   1592 non-null   object
 3   neighbor_prodord_desc              0 non-null      object
 4   fuzzy_score                        1592 non-null   float64
 5   row_number                         1592 non-null   int64
 6   predecessor_prodord_ramesses       1592 non-null   object
 7   predecessor_prodord_desc_ramesses  1592 non-null   object
 8   manual_match                       1592 non-null   object
 9   PREDECESSOR TYPE                   1592 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 136.8+ KB

In [12]:
temp.value_counts("row_number")

row_number
1272    108
1093     49
162      43
161      43
302      40
       ...
42        1
44        1
11        1
14        1
5         1
Name: count, Length: 138, dtype: int64

In [13]:
temp = df_processed[pd.isna(df_processed["predecessor_prodord_desc_ramesses"])]
temp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84 entries, 634382 to 634604
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   npl_prodord                        84 non-null     object
 1   npl_prodord_desc                   84 non-null     object
 2   neighbor_prodord                   84 non-null     object
 3   neighbor_prodord_desc              84 non-null     object
 4   fuzzy_score                        84 non-null     float64
 5   row_number                         84 non-null     int64
 6   predecessor_prodord_ramesses       84 non-null     object
 7   predecessor_prodord_desc_ramesses  0 non-null      object
 8   manual_match                       84 non-null     object
 9   PREDECESSOR TYPE                   84 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 7.2+ KB

In [18]:
df_processed = drop_na(df_processed)

In [19]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 633989 entries, 0 to 696728
Data columns (total 10 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   npl_prodord                        633989 non-null  object
 1   npl_prodord_desc                   633989 non-null  object
 2   neighbor_prodord                   633989 non-null  object
 3   neighbor_prodord_desc              633989 non-null  object
 4   fuzzy_score                        633989 non-null  float64
 5   row_number                         633989 non-null  int64
 6   predecessor_prodord_ramesses       633989 non-null  object
 7   predecessor_prodord_desc_ramesses  633989 non-null  object
 8   manual_match                       633989 non-null  object
 9   PREDECESSOR TYPE                   633989 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 53.2+ MB